.results-summary {
    height: 250px;
    display: flex;
    align-items: center;
    background: #ecf0f1;
    z-index: 1;
}

.results-summary div {
    padding-left: 60px;
}

.results-summary .results-summary-text {
    display: flex;
    flex-direction: column;
    color: #636e72;
    font-size: 18px;
}

.results-summary .results-summary-text > span:first-child {
    color: #2c3e50;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 4px;
}

.results-summary .results-summary-text > span:first-child svg {
    color: #c0392b;
    margin-left: 15px;
}

.results-summary .results-summary-text span {
    padding: 4px 0;
}

.results-summary .results-summary-text span span{
    font-weight: bold;
}

.results-summary .results-summary-chart span {
    color: #2c3e50;
    font-size: 40px;
    position: absolute;
    left: 177px;
    top: 102px;
}

.results-summary-text a {
    position: relative;
    left: 7px;
    bottom: 3px;
}