.results-details-list {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;    
}

.results-details-cell {
    width: 450px;
    padding: 0 30px 50px 30px;
    display: flex;
    flex-direction: column;
}

.results-details-cell div {
    display: flex;
    justify-content: space-between;
    color: #636e72;
    padding-top: 5px;
}

.results-details-cell div > span:first-child {
    font-weight: bold;
}

.results-details-cell div > span span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.results-details-cell.open-ports div:nth-child(2) {
    font-weight: bold;
}

.results-details-cell.open-ports div:not(:nth-child(2)) > span:first-child {
    font-weight: normal;
}